.container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 4rem;
	word-break: break-word;
}

.icon__dragger {
	position: absolute;
	width: 100%;
	height: 100%;
}

.icon__img {
	width: 2.5rem;
	height: 2.5rem;
}
