.container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 4rem;
	word-break: break-word;
	color: white;
  background-color: 'red';
  text-align: center;
  user-select: none;
}

.container:focus > .icon__img {
  user-select: none;
	filter: invert(100);
}

.icon__dragger {
	position: absolute;
	width: 100%;
	height: 100%;
}

.icon__img {
  user-select: none;
	width: 2.5rem;
	height: 2.5rem;
  margin-bottom: 0.4rem;
}
