@import url("../../../../colors.css");

.container {
	position: absolute;
	display: flex;
	flex-direction: column;
}

.window {
	width: 100%;
	height: 100%;
	border: 2px solid white;
	border-top: none;
	background-color: var(--primary);
}

.topbar__container {
	width: 100%;
	height: 1rem;
	display: flex;
	background-color: var(--secondary);
	border-right: 2px solid white;
	border-left: 2px solid white;
}

.topbar__title {
	width: fit-content;
	color: var(--primary);
	z-index: 20;
}

.real__dragger {
	position: absolute;
	width: 100%;
	height: 1rem;
	z-index: 10;
}

.topbar__dragger {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	padding-right: 4px;
	padding-left: 4px;
}

.topbar__dragger__bar {
	background-color: var(--primary);
	width: 100%;
	height: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.topbar__action {
	width: fit-content;
	display: flex;
	z-index: 20;
}

.topbar__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	border: none;
	border-right: 2px solid var(--primary);
	border-left: 2px solid var(--primary);
}

.topbar__button:active {
	filter: invert(100);

}
