@font-face {
    font-family: "ModernDOS8x16";
    src: url("../assets/fonts/ModernDOS8x16.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;

  font-family: "ModernDOS8x16";
  outline: none;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
